<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Hellow world</title>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id=UA-250915546-1'+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','UA-250915546-1');</script>
        <!-- End Google Tag Manager -->
        
    </head>

    <body>

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=UA-250915546-1" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

      <div>
      </div>
      
      <text>Hello World</text>

      <h1>Number of visitors from the past 7 days:
          <span style="color: rgb(236, 19, 45)">{{ visitors }}</span>
      </h1>
      
</body>
</html>

